<% content_for :topnav do %>
<ul class="nav">
  <li class="dropdown"><%= link_to '#', :class => "dropdown-toggle", :data => { :toggle => "dropdown" } do %>
	<%= @event.name %><b class="caret"></b>
	<% end %>
		<ul class="dropdown-menu">
			<% @event.tracks.each do |track| %>
		  	<li><%= link_to "&nbsp;&nbsp;&nbsp;&nbsp;".html_safe + track.name, event_track_path(@event, track)  %></li>
		  <% end %>
		</ul>
	</li>
</ul>
<% end %>