<div class="row" style="text-align: center;">
	<h1><%= @event.name %></h1>
</div>
<hr />
<% @event.tracks.each do |track| %>
<div class="row">
	<%= link_to track.name, event_track_path(@event, track), :class => "btn btn-primary span12", :style => "display: block;" %>
</div>
<div class="row">
	&nbsp;
</div>
<% end %>

<hr />
<%= render "topnav" %>